<div id="<%= dom_id invest %>">
  <p>
    <strong>Asset name:</strong>
    <%= invest.asset_name %>
  </p>

  <p>
    <strong>Bought amount:</strong>
    <%= invest.bought_amount %>
  </p>

  <p>
    <strong>Buy price:</strong>
    <%= invest.buy_price %>
  </p>

  <p>
    <strong>Buy fees:</strong>
    <%= invest.buy_fees %>
  </p>

  <p>
    <strong>Total input:</strong>
    <%= invest.total_input %>
  </p>

  <p>
    <strong>Sold amount:</strong>
    <%= invest.sold_amount %>
  </p>

  <p>
    <strong>Sell price:</strong>
    <%= invest.sell_price %>
  </p>

  <p>
    <strong>Sell fees:</strong>
    <%= invest.sell_fees %>
  </p>

  <p>
    <strong>Total output:</strong>
    <%= invest.total_output %>
  </p>

</div>
